.container {
    display: grid;
    justify-items: center;
}

.main {
    margin-top: 32px;
    width: 100%;
    max-width: 780px;
    display: grid;
    grid-template-columns: 1fr minmax(350px, 35%);
    gap: 12px;
}

.bio-card {
    height: 250px;
    position: sticky;
    top: 32px;
    background-color: #f8f8f8;
    color: #313131;
    display: grid;
    grid-template-rows: 1fr 1fr;
    user-select: none;
}

.bio {
    display: grid;
    grid-template-columns: auto 1fr;
}

.details {
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin: 16px;
    align-self: center;
}

#profileName {
    margin-bottom: 8px;
    align-self: end;
    overflow: hidden;
}

#signOut {
    align-self: start;
    margin-top: 8px;
}

.hero {
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #e2e2e2;
    align-self: center;
}

.splash-title {
    font-family: "DMSerifText-Regular";
    color: #828282;
    font-size: 2rem;
    margin-bottom: 16px;
    place-self: center;
}

.powered {
    text-align: center;
    color: #a2a2a2;
    font-size: 1rem;
}

.marketing {
    display: grid;
    grid-template-rows: auto auto;
    align-content: center;
}

@keyframes like {
    0% {
        transform: scale(1.0);
    }
    100% {
        transform: scale(0.8);
    }
}

@keyframes unlike {
    0% {
        transform: scale(1.0);
    }
    100% {
        transform: scale(1.2);
    }
}

@keyframes heartPound {
    0% {
        transform: scale(1.0);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(0.0);
    }
}

@keyframes heartPoundReverse {
    0% {
        transform: scale(1.0);
    }
    100% {
        transform: scale(0.0);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}